body {
    background-color:yellowgreen;
    
}

#wrapper {
    width: 960px;
    height: 960px;
    margin: auto;
    padding: 10px;
    background-image: url("../images/Reiki-Power-Up-Cropped.png");
    background-repeat: no-repeat;
    background-size: 990px auto;

    border: 5px solid red;

}

#titleHeader {
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}

#start {
    display: block;
    color: blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}

#directions {
    display: block;
    float: left;
    color: blue;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    border: 5px solid orange;
}

#crystalBlue {
    display: block;
    float: left;
    height: 50px;
    color: blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid blue;
}

#crystalWhite {
    float: right;
    height: 50px;
    color: blue;
    font-size: 26px;
    text-align: left;
    line-height: 50px;
    border: 5px solid white;
}

#crystalPurple {
    display: block;
    /* position: absolute; */
    float: left;
    height: 50px;
    margin-bottom: 0;
    color:  blue;
    font-size: 26px;
    text-align: right;
    line-height: 50px;
    border: 5px solid purple;
}

#crystalGreen {
    display: block;
    /* position: absolute; */
    float: right;
    height: 50px;
    margin-bottom: 0;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid green;
}

#numberDemanded {
    display: block;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid white;
}

#wins {
    display: block;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid rgb(34, 7, 133);
}

#losses {
    display: block;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid rgb(34, 7, 133);
}

#music {
    width: 680px;
    margin: 10px 400px 0 455px;
    padding: 5px;
    text-align: center;
}