body {
    background-color: rgb(97, 9, 60);
    
}

#wrapper {
    position: relative;
    width: 960px;
    height: 900px;
    margin: 14.5px auto;
    padding: 10px;
    background-image: url("../images/Reiki-Power-Up-Cropped.png");
    background-repeat: no-repeat;
    background-size: 990px auto;

    /* border: 5px solid red; */

}

#titleHeader {
    /* position: absolute; */
    color: rgb(97, 9, 60);
    font-size: 60px;
    text-align: center;
    line-height: 50px;
}

#start {
    /* position: absolute; */
    display: block;
    color: blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}

#directions {
    /* position: absolute; */
    display: block;
    float: left;
    color:  rgb(97, 9, 60);
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    /* border: 5px solid orange; */
}

#crystalBlue {
    position: absolute;
    display: block;
    top: 300px;
    left: 20px;
    float: left;
    height: 120px;
    width: 120px;
    color: blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    /* border: 5px solid blue; */
}

#crystalWhite {
    position: absolute;
    float: right;
    top: 300px;
    right: 20px;
    height: 100px;
    width: 100px;
    color: blue;
    font-size: 26px;
    text-align: left;
    line-height: 50px;
    /* border: 5px solid black; */
}

#crystalPurple {
    position: absolute;
    display: block;
    bottom: 100px;
    left: 20px;
    float: left;
    height: 110px;
    width: 110px;
    margin-bottom: 0;
    color:  blue;
    font-size: 26px;
    text-align: right;
    line-height: 50px;
    /* border: 5px solid purple; */
}

#crystalGreen {
    display: block;
    position: absolute;
    bottom: 100px;
    right: 20px;
    float: right;
    height: 120px;
    width: 120px;
    margin-bottom: 0;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    /* border: 5px solid green; */
}

#numberDemanded {
    position: absolute;
    top: 450px;
    /* once a real number goes in here, the left positioning will need to be resized. */
    left: 250px;
    display: block;
    color:  rgb(97, 9, 60);
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    border: 5px solid blue;
}

#wins {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid rgb(34, 7, 133);
}

#losses {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    color:  blue;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid rgb(34, 7, 133);
}

#music {
    position: absolute;
    width: 680px;
    margin: 10px 400px 0 455px;
    padding: 5px;
    text-align: center;
}